{{ define "content" }}
<p>HTML based on <a href="https://goblin-heart.net/sadgrl/">Sadgrl's</a> <a href="https://goblin-heart.net/sadgrl/projects/layout-builder/">Layout Builder</a></p>
<p>Colorpalette is <a href="https://lospec.com/palette-list/ayy4">AYY4</a> by <a href="https://lospec.com/polyducks">Polyducks</a> </p>
{{ end }}