<!DOCTYPE html>
<head>
    <title>{{ .Title }}</title>
    {{ template "style" . }}
</head>
<body>
<div id="container">

{{ template "navbar" . }}
          
<div id="flex">
    <main>
        {{ template "content" . }}
    </main>
</div>
{{ template "footer" . }}
</div>
</body>